.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8.875rem;
    padding: 0 0.5rem;
    color: $color-white;
    font-size: 1.25rem;
}

.logo{
    font-weight: bold;
    text-transform: uppercase;
}