.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8.875rem;
    padding: 0 0.5rem;
    color: $color-white;
    font-size: 1.25rem;

    @include mobile{
        height: 4rem;
        //max-width: 65%;
        //min-width: 50%;
        //margin: auto;
    }
    
    &-container{
        display: inline-block;
        cursor: pointer;
    }

    li{
        //margin: 0 0.5rem;
        a{
            color:$color-white;
            text-decoration: none;
        }
        // &:nth-child(2){
        //     @include mobile{
        //         justify-self: center;
        //     }    
        // }
    }

}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: $color-white;
    margin: 6px 0;
    transition: 0.4s;
  }

.change {
    .bar1{
        transform: translate(0, 11px) rotate(-45deg);
    }

    .bar2{
        opacity: 0;
    }

    .bar3{
        transform: translate(0, -11px) rotate(45deg);
    }
}

.active {
    color: red; /* Kolor dla aktywnej ścieżki */
    font-weight: bold; /* Dodaj inne style według potrzeb */
  }

.logo{
    font-weight: bold;
    text-transform: uppercase;
    // flex: 1;
    // text-align: center;
    // @include mobile{
    //     justify-self: center;
    // }
}

// .nav li {
//     flex: 1;
//     text-align: center;
//   }
  
//   .nav .logo {
//     text-align: center;
//   }
.dummy{
    width: 2rem;
    height: 35px;
}